.adminprojects {
  width: 100%;
}

.adminprojects > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.adminprojects > div > h1 {
  font-weight: 400;
  text-transform: uppercase;
}

.adminprojects > div > button {
  padding: 10px 15px;
}

.adminprojects > div > button > i {
  margin-right: 10px;
  border: none;
  outline: none;
}

.adminprojects > div > button:hover {
  cursor: pointer;
}

.adminprojects > .projectstable {
  width: 100%;
  background: rgb(239, 239, 239);
  text-align: left;
  border-collapse: collapse;
}

.adminprojects > .projectstable tr {
  height: 50px;
  color: #000;
  border-bottom: 1px solid #2f2f2f;
}

.adminprojects > .projectstable tr td,
.adminprojects > .projectstable tr th {
  padding: 5px;
  color: #000;
}

.adminprojects > .projectstable tr td a i {
  color: #000;
}
.adminprojects > .projectstable > tbody > tr > td:nth-child(3) > a {
  padding: 8px 0;
}
.adminprojects
  > .projectstable
  > tbody
  > tr
  > td:nth-child(3)
  > a:hover
  > button,
.adminprojects > .projectstable > tbody > tr > td:nth-child(3) > button:hover {
  cursor: pointer;
}
.adminprojects
  > .projectstable
  > tbody
  > tr
  > td:nth-child(3)
  > a:hover
  > button
  > i {
  color: #ff9307;
}
.adminprojects > .projectstable > tbody > tr > td:nth-child(3) > a > button {
  background: #fff;
}

.adminprojects > .projectstable > tbody > tr > td:nth-child(3) > a > button,
.adminprojects > .projectstable > tbody > tr > td:nth-child(3) > button {
  height: 100%;
  padding: 8px 13px;
  text-align: center;
  border: none;
  outline: none;
  transition: all ease-in-out 0.3s;
}

.adminprojects > .projectstable > tbody > tr > td:nth-child(3) > button {
  background: rgb(221, 2, 2);
}

.adminprojects > .projectstable > tbody > tr > td:nth-child(3) > button > i {
  color: #fff;
  pointer-events: none;
}

.adminprojects > .projectstable > tbody > tr > td:nth-child(3) > button:hover {
  background: #fff;
}

.adminprojects
  > .projectstable
  > tbody
  > tr
  > td:nth-child(3)
  > button:hover
  > i {
  color: rgb(221, 2, 2);
}

.adminprojects > .projectstable > tbody > tr > td:nth-child(3),
.adminprojects > .projectstable > thead > tr > th:nth-child(3) {
  text-align: center;
}

.adminprojects > .projectstable > tbody > tr:nth-child(odd) {
  background: rgb(223, 223, 223);
}

.nameLink > a {
  color: #000;
}

.nameLink > a:hover {
  color: #ff9307;
}

/*
*PROJECT EDIT
*/

.editSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 100px 0px;
}
.editSection > div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.editSection > div > h1 {
  text-align: left;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 15px;
  color: rgb(230, 230, 230);
}

.editSection > div > a{
  width: fit-content;
}
.editBackBtn {
  float: left;
  padding: 10px 15px;
  cursor: pointer;
  background: rgb(230, 230, 230);
  outline: 2px solid #000;
  border: none;
  font-weight: 400;
  border-radius: 2px;
  transition: 325ms all ease-in-out;
}

.editBackBtn:hover {
  background: #353535;
  color: #ff9307;
  outline: 2px solid #ff9307;
}

.projectEditForm {
  border-radius: 2px;
  padding: 25px 15px;
  transition: 325ms all ease-in-out;
  background: rgb(230, 230, 230);
  color: #000;
  outline: 2px solid #000;
  margin-bottom: 75px;
}

.projectEditForm:hover{
  outline: 2px solid #ff9307;
}

.projectEditForm .projectEditFormGroup {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.projectEditForm .projectEditFormGroup > label {
  color: #353535;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.projectEditForm .projectEditFormGroup > label > span {
  font-size: 12px;
  text-transform: lowercase;
}

.projectEditForm .projectEditFormGroup > input,
.projectEditForm .projectEditFormGroup > select {
  min-height: 30px;
  height: 100%;
  padding-left: 5px;
  margin: 0;
  margin-bottom: 15px;
  border: none;
  outline: 1px solid #000;
  border-radius: 2px;
  transition: 325ms all ease-in-out;
}
.projectEditForm .projectEditFormGroup > textarea {
  padding-left: 5px;
  padding-top: 5px;
  margin: 0;
  margin-bottom: 20px;
  border: none;
  outline: 1px solid #000;
  border-radius: 2px;
  transition: 325ms all ease-in-out;
}
.projectEditForm .projectEditFormGroup > input:hover,
.projectEditForm .projectEditFormGroup > input:focus,
.projectEditForm .projectEditFormGroup > textarea:focus,
.projectEditForm .projectEditFormGroup > textarea:hover{
  outline: 1px solid #ff9307;
}
.updateButton {
  padding: 10px 0;
  background: #ff9307;
  cursor: pointer;
  color: #fff;
  outline: 2px solid #ff9307;
  border: none;
  font-weight: 500;
  width: 100%;
  max-width: 200px;
  margin-right: auto;
  border-radius: 2px;
  transition: 325ms all ease-in-out;
  margin-top: 10px;
}

.updateButton:hover {
  background: #353535;
}

.filegroup {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin-bottom: 25px;
}
.filegroup > input {
  padding: 0px !important;
  margin: 0 !important;
  height: 30px !important;
  min-height: unset !important;
  outline: none !important;
}

@media only screen and (max-width: 700px) {
  .projectEditForm {
    flex-direction: column;
  }

  .projectEditForm > div:first-child,
  .projectEditForm > div:last-child {
    width: 100%;
  }
}
