.typewriter {
  display: inline-block;
}

.typewriter .portfolio_heading {
  font-weight: 600;
  letter-spacing: 0px;
  display: block;
  opacity: 0;
  padding-right: 5px;
  margin: 5px 0;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 1px solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: typing 1s steps(40, end) forwards,
    blink-caret 0.75s step-end infinite;
  animation-delay: 0.5s;
}

/* The typing effect */
@keyframes typing {
  0% {
    width: 0;
    opacity: 0;
  }
  50% {
    opacity: 1;
    widows: 50%;
  }
  80% {
    opacity: 1;
    width: 80%;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: #ff9307;
  }
}

.projects_conteiner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
/*
* --- SINGLE PROJECT CARD
*/
.item_card {
  margin: 15px 15px 15px 0px;
  min-width: 400px;
  width: calc(50% - 20px);
  text-align: center;
  max-height: 275px;
  box-shadow: 8px 10px 5px 0px rgba(0, 0, 0, 0.25);
  animation-name: animateIn;
  animation-duration: 350ms;
  animation-delay: calc(var(--animation-order) * 100ms);
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.05, 0.65, 0.18, 1);
}

.item_card_header {
  background-color: #1b1b1b;
  padding: 0.3rem 0.5rem;
  display: flex;
  /* color: rgb(202, 202, 202); */
  color: #999;

  text-transform: uppercase;
}

.item_card_header .arrows {
  display: flex;
  align-items: center;
}
.item_card_header .arrows span {
  margin: 0 2px;
  font-weight: 400;
}
.item_card_header .adress div {
  text-align: center;
  width: 100%;
}

.item_card_header .adress {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0.5rem;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  background-color: #252525;
  border-radius: 0.7rem;
}
.item_card_header .adress p,
.item_card_header .adress h4 {
  margin: 0;
}
.item_card_header .adress h4 {
  font-size: 0.9rem;
  font-weight: 500;
  color: #999;
  text-shadow: none !important;
}

.item_card_header .adress p {
  font-size: 0.8rem;
  align-self: center;
}

.item_card_header .vertical_dots {
  align-self: center;
  font-weight: 400;
}

.main_info {
  position: relative;
  overflow: hidden;
  height: 225px;
}

.main_info:hover {
  cursor: pointer;
}

.item_image {
  width: 100%;
  height: 100%;
}

.item_image_shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
}

.hover_info {
  width: 100%;
  height: 225px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: -1;
  opacity: 0;
  transform: translateY(-20vw);
  transition: all 425ms cubic-bezier(0.05, 0.65, 0.18, 1);

  background: #333;
  opacity: 0.5;
}

/* 
* Lazy load image hover info !!!!!!!!
*/
.hover_info > span {
  display: unset !important;
  position: absolute;
}
/* 
* Lazy load image hover info !!!!!!!!
*/

.hover_info > .ullinkwrap {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.hover_info ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.hover_info > .ullinkwrap > ul li {
  display: inline-block;
  margin: 4px;
  padding: 0.5rem;
  background-color: #252525;
  color: rgb(202, 202, 202);
  opacity: 1;
  font-weight: 300;
  border-radius: 3px;
  border: 1px solid #1b1b1b;
  font-size: 0.75em;
  box-shadow: 1px 3px 0 rgb(0 0 0 / 25%);
}

.hover_info > .ullinkwrap > a {
  padding: 0.25rem 0 0 0;
  color: rgb(202, 202, 202);
  width: 100px;
  background-color: #252525;
  transition: all 0.3s ease;
  border-radius: 3px;
  box-shadow: 1px 3px 0 rgb(0 0 0 / 25%);
  position: relative;
  font-size: 16px;
  font-weight: 300;
  border-radius: 3px;
  box-shadow: 1px 3px 0 rgb(0 0 0 / 25%);
}

.hover_info a::after {
  display: block;
  content: '';
  border-bottom: solid 1px #ff9307;
  transform: scaleX(0);
  padding-top: 3px;
  transition: transform 300ms ease-in-out;
}
.hover_info a::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #1a1a1a;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 100% 50%;
  z-index: -1;
  border-radius: 3px;
}

.hover_info a:hover:after,
.hover_info a:hover:before {
  transform: scaleX(1);
}

.main_info:hover .hover_info {
  transform: translateY(0);
  opacity: 1;
  z-index: 1;
}
.main_info:hover .hover_info ul li {
  animation-name: animateIn;
  animation-delay: calc(var(--animation-order) * 35ms);
  animation-fill-mode: both;
  animation-duration: 0.285s;
  animation-timing-function: cubic-bezier(0.5, 1.2, 0.5, 1.2);
}

.main_info:hover .hover_info a {
  animation-name: animateIn;
  animation-delay: 850ms;
  animation-fill-mode: both;
  animation-duration: 0.285s;
  animation-timing-function: cubic-bezier(0.5, 1.2, 0.5, 1.2);
}

.ribbon {
  position: absolute;
  transform: rotate(-45deg);
  padding: 4px;
  width: 200px;
  bottom: 25px;
  right: -60px;
  font-weight: 900;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 8px 10px 5px 0px rgba(0, 0, 0, 0.25);
  background-color: #ff9307;
  text-transform: uppercase;
  font-size: 12px;
  z-index: 3;
}

.ribbon > span {
  max-width: 140px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
  color: white !important;
}
/*
* --- END OF SINGLE PROJECT CARD
*/
/*
* --- FILTER STYLES
*/
.portfolio_links_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  flex-wrap: wrap;
  width: 100%;
}

.portfolio_link {
  padding: 0.25rem 0 0 0;
  color: #999;
  width: 100%;
  max-width: 100px;
  background-color: #252525;
  transition: all 0.3s ease;
  border-radius: 3px;
  box-shadow: 1px 3px 0 rgb(0 0 0 / 25%);
  position: relative;
  font-size: 16px;
  font-weight: 500;
  border-radius: 3px;
  border: 1px solid #1b1b1b;
  box-shadow: 1px 3px 0 rgb(0 0 0 / 25%);
  font-size: 14px;
  margin-top: 5px;
  margin-right: 8px;
  padding-top: 7px;
  z-index: 1;
  animation-name: animateIn;
  animation-duration: 350ms;
  animation-delay: calc(var(--animation-order) * 100ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.portfolio_link:hover {
  cursor: pointer;
}

.portfolio_link::after {
  display: block;
  content: '';
  border-bottom: solid 1px #ff9307;
  transform: scaleX(0);
  padding-top: 5px;
  transition: transform 300ms ease-in-out;
}

.portfolio_link::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 95%;
  width: 100%;
  background: #1a1a1a;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 100% 50%;
  z-index: -1;
  border-radius: 3px;
  border: 1px solid #1b1b1b;
}

.portfolio_link:hover:after,
.portfolio_link:hover:before {
  transform: scaleX(1);
}

.filterState {
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 400;
  color: #999;
}

.filterAnim {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none !important;
}

.filterAnim > div:first-child {
  background: rgb(60, 60, 60);
  height: 50%;
  width: 100%;
  top: 0;
  position: absolute;
  transform: translateX(-100%);
}

.filterAnim > div:last-child {
  background: rgb(40, 40, 40);
  height: 50%;
  width: 100%;
  bottom: 0;
  position: absolute;
  transform: translateX(100%);
}

.filterTextWrap {
  overflow: hidden;
  position: absolute;
  z-index: 1000;
}

.filterTextWrap > span {
  position: relative;
  top: -20px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(202, 202, 202);
}

.activeFilter::before,
.activeFilter::after {
  transform: scale(1);
}

/*
* --- END OF FILTER STYLES
*/
@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.7) translateY(-25px);
  }
  50% {
    transform: scale(1.1) translateY(5px);
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 860px) {
  .projects_conteiner {
    flex-direction: column;
  }
  .item_card {
    width: 100%;
    max-height: 100%;
    max-width: 600px;
  }
}

@media (max-width: 768px) {
  .projects_conteiner {
    justify-content: start;
    align-content: start;
  }
  .item_card {
    margin: 15px 0;
    width: calc(100% - 10px);
  }
}

@media (max-width: 550px) {
  .item_card {
    height: 235px;
  }
  .item_card .main_info,
  .item_card .hover_info {
    height: 200px;
  }
  .item_card {
    min-width: unset;
  }
}
@media (max-width: 480px) {
  .portfolio_link {
    font-size: 13px;
    width: auto;
    margin: 4px;
  }
  .portfolio_link > span {
    padding-right: 5px;
    padding-left: 5px;
  }
  .ullinkwrap > ul > li,
  .ribbon {
    font-size: 11px !important;
  }
  .filterState {
    font-size: 14px;
  }
  .portfolio_links_wrapper {
    align-items: start;
  }
}
@media (max-width: 425px) {
  .item_card {
    height: 200px;
  }
  .item_card .main_info,
  .item_card .hover_info {
    height: 165px;
  }

  .ullinkwrap > a {
    font-size: 12px !important;
  }

  .ribbon {
    padding: 4px 10px;
    max-width: 150px;
    right: -50px;
    bottom: 15px;
  }
  .ribbon > span {
    max-width: 80px;
  }
}
